.button {
    display: inline-flex;
	@include font-size(button);
    @include font-weight(button);
	padding: (($button-form--height - get-line-height(button) - ($button-form--border-width * 2)) * 0.5) ($button--padding-h - $button-form--border-width);
	height: $button-form--height;
    text-decoration: none !important;
	text-transform: $button--transform;
	color: color(button-light);
    background-color: color-bg(button-light);
    border-width: $button-form--border-width;
	border-style: $button-form--border-style;
	border-color: color-border(button-light);
    border-radius: $button--radius;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    letter-spacing: inherit;
    white-space: nowrap;
	transition: background .15s ease;

    &:active {
        outline: 0;
    }

	&:hover {
		background-color: color-bg(button-light-hover);
		border-color: color-border(button-light-hover);
	}

	&.is-loading {
		position: relative;
		color: transparent!important;
		pointer-events: none;

		&::after {
			content: '';
			display: block;
			position: absolute;
			width: get-line-height(button);
			height: get-line-height(button);
			margin-left: -(get-line-height(button) * 0.5);
			margin-top: -(get-line-height(button) * 0.5);
			top: 50%;
			left: 50%;
			border: $button-loading--thickness solid color(button-light);
			border-radius: 50%;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
			z-index: 1;
			animation: button-loading .6s infinite linear;
		}
	}

	&[disabled] {
		cursor: not-allowed;
		color: color(button-disabled);
		background-color: color-bg(button-disabled) !important;
		border-color: color-border(button-disabled);

		&.is-loading {

			&::after {
				border-color: color(button-disabled);
			}
		}
	}
}

.button-sm {
    padding: (($button-form-sm--height - get-line-height(button) - ($button-form--border-width * 2)) * 0.5) ($button-sm--padding-h - $button-form--border-width);
	height: $button-form-sm--height;
}

.button-dark {
	color: color(button-dark);
    background-color: color-bg(button-dark);
	border-color: color-border(button-dark);

    &:hover {
        background-color: color-bg(button-dark-hover);
		border-color: color-border(button-dark-hover);
    }

	&.is-loading {

		&::after {
			border-color: color(button-dark);
		}
	}
}

.button-primary {
	color: color(button-primary);
    background-color: color-bg(button-primary);
	border-color: color-border(button-primary);

    &:hover {
        background-color: color-bg(button-primary-hover);
		border-color: color-border(button-primary-hover);
    }

	&.is-loading {

		&::after {
			border-color: color(button-primary);
		}
	}
}

.button-secondary {
	color: color(button-secondary);
    background-color: color-bg(button-secondary);
	border-color: color-border(button-secondary);

    &:hover {
        background-color: color-bg(button-secondary-hover);
		border-color: color-border(button-secondary-hover);
    }

	&.is-loading {

		&::after {
			border-color: color(button-secondary);
		}
	}
}

.button-block {
    display: flex;
	width: 100%;
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-right: -($button-group-padding * 0.5);
	margin-left: -($button-group-padding * 0.5);
	margin-top: -($button-group-padding * 0.5);

	&:last-of-type {
		margin-bottom: -($button-group-padding * 0.5);
	}

	&:not(:last-of-type) {
		margin-bottom: ($button-group-padding * 0.5);
	}

	> [class*=button] {
		margin: $button-group-padding * 0.5;
	}
}

@include media( '<=medium' ) {

	.button-wide-mobile {
		width: 100%;
		max-width: $button--max-size-mobile;
	}
}

@keyframes button-loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


// .button-56 {
// 	align-items: center;
// 	background-color: #fee6e3;
// 	border: 2px solid #111;
// 	border-radius: 8px;
// 	box-sizing: border-box;
// 	color: #111;
// 	cursor: pointer;
// 	display: flex;
// 	font-family: Inter,sans-serif;
// 	font-size: 16px;
// 	height: 48px;
// 	justify-content: center;
// 	line-height: 24px;
// 	max-width: 100%;
// 	padding: 0 25px;
// 	position: relative;
// 	text-align: center;
// 	text-decoration: none;
// 	user-select: none;
// 	-webkit-user-select: none;
// 	touch-action: manipulation;
//   }
  
//   .button-56:after {
// 	background-color: #111;
// 	border-radius: 8px;
// 	content: "";
// 	display: block;
// 	height: 48px;
// 	left: 0;
// 	width: 100%;
// 	position: absolute;
// 	top: -2px;
// 	transform: translate(8px, 8px);
// 	transition: transform .2s ease-out;
// 	z-index: -1;
//   }
  
//   .button-56:hover:after {
// 	transform: translate(0, 0);
//   }
  
//   .button-56:active {
// 	background-color: #ffdeda;
// 	outline: 0;
//   }
  
//   .button-56:hover {
// 	outline: 0;
//   }
  
//   @media (min-width: 768px) {
// 	.button-56 {
// 	  padding: 0 40px;
// 	}
//   }

$cyan: #0505A9;
$dark: #FFFFFF;
$borderW: 2px;

.blob-btn {
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $cyan;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius:30px;
  
  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid $cyan;
    border-radius:30px;
  }
  
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW*1.5;
    top: $borderW*1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius:30px;
  }
  
  &:hover {
    color: $dark;
    border-radius:30px;
    
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius:30px;
    }
  }
  
  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius:30px;
    background:#ffffff;
  }
  
  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  &__blob {
    position: absolute;
    top: $borderW;
    width: 100% / $numOfBlobs;
    height: 100%;
    background: $cyan;
    border-radius: 100%;
    transform: translate3d(0,150%,0) scale(1.7);
    transition: transform 0.45s;
    
    @supports(filter: url('#goo')) {
      transform: translate3d(0,150%,0) scale(1.4);
    }
    
    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }
    
    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);
      
      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.6);
      }
    }
  }
  
}


.button-48 {
	appearance: none;
	background-color: #FFFFFF;
	border-width: 0;
	box-sizing: border-box;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-family: Clarkson,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 1em;
	margin: 0;
	opacity: 1;
	outline: 0;
	padding: 1.5em 2.2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-rendering: geometricprecision;
	text-transform: uppercase;
	transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
  }
  
  .button-48:before {
	animation: opacityFallbackOut .5s step-end forwards;
	backface-visibility: hidden;
	background-color: #EBEBEB;
	clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: translateZ(0);
	transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
	width: 100%;
  }
  
  .button-48:hover:before {
	animation: opacityFallbackIn 0s step-start forwards;
	clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  }
  
  .button-48:after {
	background-color: #FFFFFF;
  }
  
  .button-48 span {
	z-index: 1;
	position: relative;
  }




  .button-57 {
	position: relative;
	overflow: hidden;
	border: 1px solid #18181a;
	color: #18181a;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 18px 18px 17px;
	text-decoration: none;
	cursor: pointer;
	background: #fff;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  .button-57 span:first-child {
	position: relative;
	transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 10;
  }
  
  .button-57 span:last-child {
	color: white;
	display: block;
	position: absolute;
	bottom: 0;
	transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 100;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translateY(225%) translateX(-50%);
	height: 14px;
	line-height: 13px;
  }
  
  .button-57:after {
	content: "";
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	transform-origin: bottom center;
	transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
	transform: skewY(9.3deg) scaleY(0);
	z-index: 50;
  }
  
  .button-57:hover:after {
	transform-origin: bottom center;
	transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
	transform: translateX(-50%) translateY(-100%);
	opacity: 1;
	transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }


  .swiper {
	width: 100%;
	height: 100%;
	.swiper-wrapper {
	height: 500px;
	}
  }
  
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;
  
	/* Center slide text vertically */
	
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	// @media (max-width:992px) {
	// 	width: 310px !important;
	// }
  }
  
  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .swiper-container.timelines-content {
	width: 100%;
	height: 100%;
  }
  .mgt-timeline-text {
	margin-top: 20px;
  }
  .timeline {
	
	margin: 80px auto 0;
	list-style-type: none;
	padding: 0;
	text-align: center;
  }
  .timeline li {
	transition: all 200ms ease-in;
  }
  .timestamp {
	margin-bottom: 20px;
	padding: 0px 40px;
  }
  .date {
	text-align: center;
	color: white;
	font-size: 21px;
  }
  .status {
	padding: 0px;
	display: block;
	width: 100%;
	border-top: 2px solid #7C7C7C;
	position: relative;
	transition: all 200ms ease-in;
	margin-top: 3px;
	.mgt-timeline-text{
		text-align: start;
		color: rgba(255,255,255,0.6);
		font-size: 14px;
		ul {
			list-style: none;
		}
	}
		h5 {
			margin-right: 250px;
			color: #FFFFFF;
			padding-top: 20px;
			font-size: 18px;
		}
  }
  
  .timeline_icn {
	content: "";
	width: 8px;
	height: 8px;
	display: block;
	background-color: #e8eeff;
	border-radius: 20px;
	background: #007aff;
	position: absolute;
	margin-left: -10px;
	left: 9%;
	transition: all 200ms ease-in;
	z-index: 100;
  }
  .status p {
	font-size: 14px;
	color: #e8eeff;
  }
  .swiper-start .status .icn-start {
	left: 0;
  }
  .swiper-end .status .icn-end {
	right: 0;
  }
  .swiper-start .status,
  .swiper-end .status {
	margin-top: 51px;
  }
  .swiper-slide .icn-end,
  .swiper-slide .icn-start {
	display: block;
	position: absolute !important;
	width: 40px;
	height: 40px;
	border: 4px solid #ebe4da;
	background: #fff;
	content: "";
	z-index: 9999;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	top: -27px;
  }
  .swiper-slide .icn-end:after,
  .swiper-slide .icn-start:after {
	content: "\e872";
	font-family: icons;
	position: relative !important;
	top: 5px;
	color: #ebe4da;
  }
  .swiper-button-next,
  .swiper-button-prev {
	margin-top: -44px;
	z-index: 400;
  }
  .swiper-container.timelines-content {
	width: 100%;
	// height: 300px;
  }
  
  .timelines-years {
	width: 400px;
	margin-bottom: 0;
	padding: 20px 0;
	border-bottom: 1px solid #ebe4da;
  }
  .timelines-years a {
	text-decoration: none;
	font-size: 12px;
	color: #826944;
  }
  

body {
	background-color: #141414 !important;
    position: relative;
    overflow-x: hidden
}
	body .bg-texture {
	background-image: url(../../../images/xxx.png) !important;
	background-repeat: repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.6;
  }

  body .hero-gradient {
	background-image: url(../../../images/back9.png) !important;
	background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0.8;
	&::after {
		content: "";
    display: block;
    padding-bottom: 100.833333333333333%;
	}
  }

.switch {
	display: inline-block;
	width: 60px;
	height: 34px;
	position: relative;
  }

.toggle-thumb {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #475569;
	border-radius: 40px;
	cursor: pointer;
  }

  .toggle-thumb:before {
	content: "";
	height: 26px;
	width: 26px;
	position: absolute;
	left: 4px;
	bottom: 4px;
	border-radius: 50%;
	background-color: #E2E8F0;
	transition: .4s all ease;
  }

  .checkbox {
	opacity: 0;
	width: 0;
	height: 0;
  }

  .checkbox:checked + .toggle-thumb:before {
	transform: translateX(26px);
  }









.why-boji {
	margin-bottom: 0 !important;
	// .why-boji-main {
	// 	display: grid;
	// 	grid-template-columns: auto auto;
	// 	column-gap: 30px;
	// 	@media (max-width:768px) {
	// 		display: flex;
	// 		flex-direction: column;
	// 	}
	// }
	.split-item {
		@media (max-width:992px) {
				display: flex !important;
				flex-direction: column !important;
		}
	}
		img {
			width: 1000px !important;
			@media (max-width:992px) {
				width: 300px !important;
			}
		}
	.why-boji-main {
		display: flex;
		flex-direction: row;
		
		@media (max-width:768px) {
			display: flex;
			flex-direction: column-reverse;
		}
	}
}

.apexcharts-canvas {
	margin: auto;
}

  