.split-wrap {
	margin-top: -($split-item--padding-v__mobile * 0.5);

	&:last-of-type {
		margin-bottom: -($split-item--padding-v__mobile * 0.5);
	}

    &:not(:last-of-type) {
        margin-bottom: $split-item--padding-v__mobile * 0.5;
    }

	.split-item {
		padding-top: $split-item--padding-v__mobile * 0.5;
		padding-bottom: $split-item--padding-v__mobile * 0.5;
		display: flex;
		flex-direction: column;

		.split-item-image {
			position: relative;
			width: 100%;

			img,
			svg,
			video {
				width: auto;
				height: auto;
				max-width: 100%;
				overflow: visible;
			}

			&.split-item-image-fill {

				img,
				svg,
				video {
					width: 100%;
				}
			}
		}
		.split-item-info {
			margin-bottom: 30px;
		}
	}
}

.flip-card {
	background-color: transparent;
	width: 200px;
	height: 300px;
	perspective: 1000px;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow:  0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
	border: 2px solid rgb(119, 119, 119);
	border-radius: 5px;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
	.flip-card {
		height: 500px;
	}
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-shadow: -20px 20px 100px 0px rgb(69, 67, 67) inset
  }
  
  .flip-card-front {
	background-color: #000000;
	color: white;
  }
  
  .flip-card-back {
	background-color: #000000;
	color: white;
	transform: rotateY(180deg);
  }
// .about {
// 	margin-top: 50px;
// 	.about-item {
// 		display: flex;
// 		margin-bottom: 30px;
// 		.icon {
// 			margin-right: 50px;
// 			img {
// 				max-width: none !important;
// 			}
// 		}
// 	}
// }

@include media( '<=medium' ) {

	.split-wrap {

		.split-item {

			.split-item-content {
				margin-bottom: $split-item--inner-padding-v_mobile;
			}
		}

		&.invert-mobile {

			.split-item {

				.split-item-content {
					order: 1;
					margin-bottom: 0 !important;
				}

				.split-item-image {
					margin-bottom: $split-item--inner-padding-v_mobile;
				}
			}
		}
	}
}

@include media( '>medium' ) {

	.split-wrap {
		margin-top: -($split-item--padding-v__desktop * 0.5);

		&:last-of-type {
			margin-bottom: -($split-item--padding-v__desktop * 0.5);
		}

	    &:not(:last-of-type) {
	        margin-bottom: $split-item--padding-v__desktop * 0.5;
	    }

		.split-item {
			padding-top: $split-item--padding-v__desktop * 0.5;
			padding-bottom: $split-item--padding-v__desktop * 0.5;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-start;

			.split-item-content {
				flex-shrink: 0;
				width: ($container--width-sm * 0.5) - $split-item-content--padding-h;
				margin-bottom: 0;
				margin-left: $split-item--inner-padding-h;
			}

			.split-item-image {
				min-width: ($container--width-sm * 0.5) - $split-item-image--padding-h;
			}
		}

		// &:not(.invert-desktop) .split-item:nth-child(even),
		// &.invert-desktop .split-item:nth-child(odd) {
		// 	justify-content: flex-end;

		// 	.split-item-content {
		// 		order: 1;
		// 		margin-left: $split-item--inner-padding-h;
		// 		margin-right: 0;
		// 	}
		// }

		&:not(.invert-desktop) .split-item:nth-child(odd),
		&.invert-desktop .split-item:nth-child(even) {

			.split-item-image {

				img,
				svg,
				video {
					margin-left: auto;
				}
			}
		}

		&.align-top {

			.split-item {
				align-items: flex-start;
			}
		}
	}
}

@include media( '>large' ) {

	.container {

		.split-wrap {

			.split-item {

				.split-item-content {
					width: ($container--width * 0.5) - $split-item-content--padding-h;
				}

				.split-item-image {
					min-width: ($container--width * 0.5) - $split-item-image--padding-h;
				}
			}
		}
	}
}



// $primary-color: #fff;
// $background-color: linear-gradient(54deg, #9164ff, #8bfff4);
// $text-color: #3c3f64;

// *,
// *::before,
// *::after {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   font: normal 16px/1.5 'Titillium Web', sans-serif;
//   background: $background-color;
//   color: $text-color;
//   overflow-x: hidden;
//   padding-bottom: 50px;
// }

// // STYLING
// .timeline {
//   ul {
//     li {
//       list-style-type: none;
//       position: relative;
//       width: 6px;
//       margin: 0 auto;
//       padding-top: 50px;
//       background: #fff;
//       &::after {
//         content: '';
//         position: absolute;
//         left: 50%;
//         bottom: 0;
//         transform: translateX(-50%) rotate(45deg);
//         width: 20px;
//         height: 20px;
//         z-index: 2;
//         background: #eee;
//       }
//       div {
//         position: relative;
//         bottom: 0;
//         width: 400px;
//         padding: 20px;
//         background: $primary-color;
//         box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
//         border-radius: 5px;
//         display: flex;
//         align-items: center;
//         time {
//           position: absolute;
//           background: #f5af19;
//           width: 80px;
//           height: 30px;
//           top: -15px;
//           border-radius: 5px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           letter-spacing: 2px;
//         }
//         div {
//           height: 100px;
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-items: center;
//           p {
//             text-align: center;
//           }
//         }
//         .discovery {
//           margin-right: 10px;
//         }
//         .scientist {
//         }
//       }
//       &:nth-of-type(odd) {
//         > div {
//           left: 45px;
//         }
//       }
//       &:nth-of-type(even) {
//         > div {
//           left: -439px;
//         }
//       }
//     }
//   }
// }

// // ANIMATION
// .timeline {
//   ul {
//     li {
//       div {
//         visibility: hidden;
//         opacity: 0;
//         transition: all 0.5s ease-in-out;
//       }
//       &:nth-of-type(odd) {
//         div {
//           transform: translate3d(100px, -10px, 0) rotate(10deg);
//         }
//       }
//       &:nth-of-type(even) {
//         div {
//           transform: translate3d(-100px, -10px, 0) rotate(10deg);
//         }
//       }
//       &.in-view {
//         div {
//           transform: none;
//           visibility: visible;
//           opacity: 1;
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 900px) {
//   .timeline {
//     ul {
//       li {
//         div {
//           width: 250px;
//           flex-direction: column;
//           div {
//             width: 80%;
//             margin: 10px;
//           }
//         }
//         &:nth-of-type(even) {
//           > div {
//             left: -289px;
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 600px) {
//   body {
//     background: #8bfff4;
//   }
//   .timeline {
//     ul {
//       li {
//         margin-left: 20px;
//         div {
//           width: calc(100vw - 91px);
//         }
//         &:nth-of-type(even) {
//           > div {
//             left: 45px;
//           }
//         }
//       }
//     }
//   }
// }
