.tokenomics {
	.percent {
		color: rgba(245, 230, 189, 0.5);
		margin: 0 0 12px;
		line-height: 1;
		font-size: 65px;
	}
	.info {
		 @media (max-width:768px) {
			text-align: center;
			img {
				margin: auto;
			}
		 }
	}
	.adress {
		@media (max-width:470px) {
			font-size: 15px;
		}
	}
}

.nft-collections {
	.nft-main {
		margin-bottom: 15px;
	}
	.text-center {
		img {
			width: 35px;
			height: 35px;
			margin: auto;
			margin-top: 15px;
		}
	}
	.nft-item {
		img {
			margin: auto;
		}
	}
}

.community {
	@media (max-width:567px) {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.item {
		margin-bottom: 20px;
	}
}
