.hero {
// background-image: url(../../../images/background_site_son_1.png);
// background-repeat: no-repeat;
// background-size: cover;

	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}

	.contract-adress {
		display: flex;
		justify-content: space-between;
		border-radius: 100px;
		padding: 7px 17px 7px 7px;
		background: rgba(255,255,255,0.2);
		.adress {
			font-size: 15px;
			white-space: nowrap; 
			width: 500px; 
			overflow: hidden;
			text-overflow: ellipsis;
			padding: 0 10px;
			margin: auto;
		}
		.copy-icon {
			cursor: pointer;
			:hover {
				font-size: 22px;
				color: black;
			}
		}
	}

	.coin-market {
		.coin-button {
			// border: 1px solid;
			border-radius: 15px;
			background: rgba(255, 255, 255, 0.2);
			border-radius: 100px;
			margin-top: 20px;
			img {
				padding: 5px 10px;
			}
			@media (min-width:1400px) {
				margin-top: 0px;
			}
		}
	}
}

.hero-inner {

	// Affects only hero full
	>.hero-content+.hero-figure,
	>.hero-figure+.hero-content {
		margin-top: $hero--inner-padding-v_mobile;
	}

	>.hero-figure {

		>a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

@include media('<=medium') {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}
}

@include media('>medium') {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		>.hero-content+.hero-figure,
		>.hero-figure+.hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}
	}
}