.circle-menu-box {
	width: 600px;
	height: 600px;
	position: relative;
	margin: 0 auto 30px auto;

	div {
		transition: transform 0.4s;
		transform-style: preserve-3d;

		&:hover {
			transform: scale(2.5) rotateY(180deg);
			z-index: 9998 !important;
			-webkit-transform:scale(2.5) rotateY(180deg);
			-moz-transform:scale(2.5) rotateY(180deg);
			-o-transform:scale(2.5) rotateY(180deg);
			@media (max-width:692px) {
				background-color: rgb(56, 52, 52) !important;
				transform: scale(1.8) rotateY(180deg);
				-webkit-transform:scale(1.8) rotateY(180deg);
				-moz-transform:scale(1.8) rotateY(180deg);
				-o-transform:scale(1.8) rotateY(180deg);
			}
		}

	}

	.logo {
		width: 200px;
		height: 200px;
		right: 27%;
		top: 33%;
		position: absolute;

		&:hover {
			transform: rotateY(0) !important;
			background-color: transparent !important;
		}

		img {
			width: 170px;
			max-width: max-content;

			@media (max-width:693px) {
				width: 130px;
				
			}
			@media (max-width:507px) {
				width: 100px;
			}
		}

		@media (max-width:693px) {
			right: 21%;
			
		}
		@media (max-width:507px) {
			top: 29%;
			right: 9%;
		}
		@media (max-width:507px) {
			top: 29%;
			right: 1%;
		}
	}

	.back,
	.front {


		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.front {

		color: white;
		font-size: 12px;
		margin-bottom: 5px;

		@media (max-width:506px) {
			font-size: 8px;
		}
	}

	.back {
		position: absolute;
		// background-color: #000000;
		color: white;
		transform: rotateY(180deg);
		height: 100%;
		font-size: 5px;
		left: 0;
		top: 30%;
		-webkit-text-fill-color: #FFFFFF !important;
		z-index: 9999 !important;
	}

	.TOKEN {
		left: 40% !important;
		top: 5% !important;

		&:hover {
			background-color: #E88DA4 !important;
			color: white !important;
		}
	}

	.Wallet {
		left: 64.7487% !important;
		top: 15.2513% !important;

		&:hover {
			background-color: #EFB42D !important;
			color: white !important;
		}
	}

	.NFT {
		left: 75% !important;
		top: 40% !important;

		&:hover {
			background-color: #99BF55 !important;
			color: white !important;
		}
	}

	.Bojify {
		left: 64.7487% !important;
		top: 64.7487% !important;

		&:hover {
			background-color: #6FC7EA !important;
			color: white !important;
		}
	}

	.Charity {
		left: 40% !important;
		top: 75% !important;

		&:hover {
			background-color: #4426BE !important;
			color: white !important;
		}
	}

	.Earn {
		left: 15.2513% !important;
		top: 64.7487% !important;

		&:hover {
			background-color: #5500B5 !important;
			color: white !important;
		}
	}

	.v2 {
		left: 5% !important;
		top: 40% !important;

		&:hover {
			background-color: #A28BEE !important;
			color: white !important;
		}
	}

	.shop {
		left: 15.2513% !important;
		top: 15.2513% !important;

		&:hover {
			background-color: #DB415E !important;
			color: white !important;
		}
	}

	@media (max-width:692px) {
		width: 500px;
		height: 500px;
		position: relative;
		margin: 0 0 20px 5px;
	}

	@media (max-width:506px) {
		width: 350px;
		height: 350px;
		position: relative;
		margin: 0 0 20px 30px;
	}

	@media (max-width:398px) {
		width: 300px;
		height: 300px;
		position: relative;
		margin: 0 0 20px 20px;
	}
}

.circle-menu-box div.menu-item {
	display: block;
	text-decoration: none;
	border-radius: 100%;
	margin: 20px;
	text-align: center;
	width: 130px;
	height: 130px;
	// color: #777;
	padding: 27px;
	position: absolute;
	font-size: 27px;

	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;

	img {
		margin: auto;
	}

	@media (max-width:692px) {
		width: 100px;
		height: 100px;
	}

	@media (max-width:506px) {
		width: 75px;
		height: 75px;
	}

	@media (max-width:368px) {
		width: 65px;
		height: 65px;
	}
}

// .circle-menu-box div.menu-item:hover {
// 	transform:scale(4.5);
// 	z-index: 1;
// 	width:450px;
// 	height: 100%;
// 	-webkit-transform:scale(1.5);
// 	-moz-transform:scale(1.5);
// 	-o-transform:scale(1.5);
// 	color: #fff;
// 	background: #ff3333;
// }

.apexcharts-legend {
	top: 150px !important;
}



/*********/


.hero-menu-box {
	width: 600px;
	height: 600px;
	position: relative;
	margin: 30px auto;
	font-size: 40px;

	.menu-item {

		transition: transform 0.4s;
		transform-style: preserve-3d;

		&:hover {
			background-color: rgb(56, 52, 52) !important;
			transform: scale(1.8) rotateY(180deg);
			z-index: 9998 !important;
			-webkit-transform:scale(1.8) rotateY(180deg);
			-moz-transform:scale(1.8) rotateY(180deg);
			-o-transform:scale(1.8) rotateY(180deg);
			@media (max-width:692px) {
				background-color: rgb(56, 52, 52) !important;
				transform: scale(1.8) rotateY(180deg);
				-webkit-transform:scale(1.8) rotateY(180deg);
				-moz-transform:scale(1.8) rotateY(180deg);
				-o-transform:scale(1.8) rotateY(180deg);
			}
		}

	}

	.logo {
		top: 32%;
		right: 40%;

		&:hover {
			transform: rotateY(0) !important;

		}

		img {
			width: 170px;
			max-width: max-content;

			@media (max-width:769px) {
				width: 140px;
			}

			@media (max-width:507px) {
				width: 120px;
			}
		}

		@media (max-width:769px) {
			top: 30%;
			right: 39%;
		}

		@media (max-width:559px) {
			display: none !important;
		}

		@media (max-width:507px) {
			top: 28%;
			right: 40%;
		}
	}

	.back,
	.front {


		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-tap-highlight-color: #FFFFFF;
	}

	.front {

		color: white;
		font-size: 12px;
		margin-bottom: 5px;
		margin-top: 15px;

		img {
			margin-top: 5px !important;
		}

		@media (max-width:770px) {
			margin-top: 0;
		}

		@media (max-width:506px) {
			font-size: 8px;
		}
	}

	.back {
		position: absolute;
		// background-color: #000000;
		color: white;
		transform: rotateY(180deg);
		height: 100%;
		font-size: 8px;
		left: 0;
		top: 30%;
		-webkit-text-fill-color: #FFFFFF !important;
		z-index: 9999 !important;
	}

	.TOKEN {
		left: 40% !important;
		top: 5% !important;

		&:hover {
			background-color: #E88DA4 !important;
			color: white !important;
		}
	}

	.Wallet {
		left: 64.7487% !important;
		top: 15.2513% !important;

		&:hover {
			background-color: #EFB42D !important;
			color: white !important;
		}
		.back {
			font-size: 6px !important;
		}
	}

	.NFT {
		left: 75% !important;
		top: 40% !important;

		&:hover {
			background-color: #99BF55 !important;
			color: white !important;
		}

		.back {
			font-size: 7px !important;
		}
	}

	.Bojify {
		left: 64.7487% !important;
		top: 64.7487% !important;

		&:hover {
			background-color: #6FC7EA !important;
			color: white !important;
		}

		.back {
			font-size: 7px !important;
		}
	}

	.Charity {
		left: 40% !important;
		top: 75% !important;

		&:hover {
			background-color: #4426BE !important;
			color: white !important;
		}
	}

	.Earn {
		left: 15.2513% !important;
		top: 64.7487% !important;

		&:hover {
			background-color: #5500B5 !important;
			color: white !important;
		}
	}

	.v2 {
		left: 5% !important;
		top: 40% !important;

		&:hover {
			background-color: #A28BEE !important;
			color: white !important;
		}

		.back {
			font-size: 6px !important;
		}
	}

	.shop {
		left: 15.2513% !important;
		top: 15.2513% !important;

		&:hover {
			background-color: #DB415E !important;
			color: white !important;
		}
	}

	@media (max-width:559px) {
		height: auto !important;
		position: relative !important;
		margin: 30px auto !important;
		width: auto !important;
		// margin: 0 0 20px 5px;
	}

	@media (max-width:769px) {
		width: 450px;
		height: 450px;
		position: relative;
		margin: 0 0 20px 5px;
	}
}

.hero-menu-box .menu-item,
.logo {
	display: block;
	text-decoration: none;
	border-radius: 100%;
	margin: 20px;
	text-align: center;
	width: 130px;
	height: 130px;
	color: #777;
	padding: 27px;
	position: absolute;
	font-size: 27px;

	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;

	img {
		margin: auto;
	}

	@media (max-width:559px) {
		position: unset;
		width: 100px;
		height: 100px;
	}

	@media (max-width:769px) {
		width: 100px;
		height: 100px;
	}

	// @media (max-width:506px) {
	// 	width: 75px;
	// 	height: 75px;
	// }

	// @media (max-width:368px) {
	// 	width: 65px;
	// 	height: 65px;
	// }
}

// .hero-menu-box div.menu-item:hover {
// 	transform:scale(4.5);
// 	z-index: 1;
// 	width:450px;
// 	height: 100%;
// 	-webkit-transform:scale(1.5);
// 	-moz-transform:scale(1.5);
// 	-o-transform:scale(1.5);
// 	color: #fff;
// 	background: #ff3333;
// }